/*fonte do site*/
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/*botão*/
button {
  width: 7vw;
  height: 4vh;
  border-radius: 0.5vw;
  border: none;
  background: rgb(0, 1, 65);
  color: whitesmoke;
  font-size: 1vw;
  font-weight: 600;
  position: relative;
  z-index: 1;
  overflow: visible;
  transition: ease 0.5s;
}

button::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 2vw;
  height: 4vh;
  backdrop-filter: blur(3px);
  left: calc(100% - 1.5vw);
  top: calc(100% - 3vh);
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  transition: ease 0.5s;
}

button:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  top: 0;
  left: 0;
  transform: translateY(-0.5vh);
}

button:hover {
  transform: translateY(0.5vh);
}

button:active::before {
  transform: translate(0, 5%);
}  

/* formulário */
.singup {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
  border-radius: 8px;
}

.inputBox,
.inputBox1 {
  position: relative;
  width: 250px;
}

.inputBox input,
.inputBox1 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
  transform: translateX(156px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

/*adiçoes estruturais*/

  a{
    text-decoration: none;
  }
  .one{
    font-family: 'Kalam', cursive;
    font-size: 30px;
    padding: 50px;
    
  }
  .one img{
    float: left;
    padding: 100px;
    width: 500px;
    height: 600px;
  }
  footer{
    margin: 150px;
    padding: 30px;
    border-radius: 10px;
    background-color: lightslategray;
    width: 500px;
    height: 250px;
    text-align: center;
  }
  /*navegação*/ 

 header{
    margin:0;
    padding: 0;
 }
 nav{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
 }
 a{
    color: #fff;
    transition: 0.3s;
 }
 a:hover{
    opacity: 0.7;
 }
 .logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
 }

 .nav-list{
    list-style: none;
    display: flex;
 }
 .nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
 }
 .mobile-menu{
    cursor: pointer;
    display: none;
 }
 .mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
 }
 @media (max-widht: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
 }
.nav-list.active{
    transform: translateX(0);
}
 